<br>

<ng-container *ngIf="selectedRecipe">
<div class="row">
    <div class="col-xs-12">

        <img [src]="selectedRecipe.imgPath"
             alt="{{selectedRecipe.name}}" class="img-responsive" style="border: 2px solid black;"/>
    </div>
          
</div>

<div class="row">
    <div class="col-xs-12">
         {{selectedRecipe.name}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button style="background-color: white; color: black;" [matMenuTriggerFor]="recipeMenu">Manage Recipe <span class="caret"></span></button>

        <mat-menu #recipeMenu="matMenu"><mat-icon>save</mat-icon></mat-menu>
        <mat-menu #recipeMenu="matMenu"><mat-icon>edit</mat-icon></mat-menu>
        <button mat-raised-button type="button" class="btn btn-primary" style="background-color: white; color: black;" (click)="addIngredientsToShoppingList()">Add Ingredients to shopping list</button>
        <button mat-raised-button type="button" class="btn btn-primary" style="background-color: white; color: black;" (click)="onEditClick()">Edit Recipe</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ingredient</th>
              <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of selectedRecipe.ingredients; let i=index">
              <th scope="row">{{ i +1}}</th>
              <td>{{item.name}}</td>
              <td>{{ item.qty | number }}</td>
            </tr>
            </tbody>
          </table>
    </div>
</div>

</ng-container>

