<br>
<div class="row">
    <div class="col-xs-12">

        <img src="https://previews.agefotostock.com/previewimage/medibigoff/a0d151893ba8fb69665bb344c1c78942/esy-033597286.jpg"
             alt="page" class="img-responsive"/>
    </div>
          
</div>

<div class="row">
    <div class="col-xs-12">
         Idli Sambar
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button [matMenuTriggerFor]="recipeMenu">Manage Recipe <span class="caret"></span></button>

        <mat-menu #recipeMenu="matMenu"><mat-icon>save</mat-icon></mat-menu>
        <mat-menu #recipeMenu="matMenu"><mat-icon>edit</mat-icon></mat-menu>
    </div>
</div>