<div class="row">

    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>

        <hr>

    </div>
</div>
<!-- 
<div class="row">

    <div class="col-sm-5">

        <mat-action-list *ngFor="let ingredient of ingredients">
            <a style="cursor: pointer;" >

                <span matBadge="{{ingredient.qty}}" matBadgeOverlap="false">{{ingredient.name}}</span>

            </a>
            <mat-divider></mat-divider>
        </mat-action-list>

    </div>
</div> -->

<div class="row">
    <div class="col-xs-7">
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ingredient</th>
              <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of ingredients; let i=index">
              <th scope="row">{{ i +1}}</th>
              <td>{{item.name}}</td>
              <td>{{ item.qty | number }}</td>
            </tr>
            </tbody>
          </table>
    </div>
</div>