<a style="cursor: pointer;" routerLink= "recipe-detail" routerLinkActive="active">
    <div>
    <mat-card> <!-- [ngStyle]="{'background-color': highlightCardColor === true ? 'red' : 'blue'}" -->
        <mat-card-header>
            <mat-card-title>{{recipeItem.name}} <ngb-rating [(rate)]="recipeItem.rating" [readonly]="false" [max]="5"></ngb-rating> </mat-card-title> 
            <mat-card-subtitle>{{recipeItem.desc}}</mat-card-subtitle>
            <span class="menu-spacer"></span>
            <span class="pull-right">
                <img [src]="recipeItem.imgPath"
                    alt="{{recipeItem.name}}" style="max-height: 50px;border: 2px solid #555;">
            </span>
        </mat-card-header>
    </mat-card>
    <br>
</div>
</a>