<div class="row">

    <br>

    <div class="col-xs-12">
        <button mat-raised-button (click)="showNewRecipePanel()">New Recipe</button>

        <hr>
            <div  *ngIf="IsAlertShow">
            <ngb-alert type="success" (close)="closeAlert()"><strong>New recipe added successfully</strong>
            </ngb-alert>
        </div>
    </div>
</div>

<div class="row" *ngIf="onClickNewRecipe">

    <br>
    <div class="col-xs-12" #newRecipeDiv>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Recipe Detail<mat-icon>add</mat-icon>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form>
                    <div class="row">
                        <div class="col-xs-12">
                            <mat-form-field class="col-xs-11">
                                <mat-label>Name:</mat-label>
                                <input matInput placeholder="Enter recipe name" #name />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <mat-form-field class="col-xs-11">
                                <mat-label>URL:</mat-label>
                                <input matInput placeholder="Enter url" #url />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <mat-form-field class="col-xs-11">
                                <mat-label>desc:</mat-label>
                                <textarea matInput placeholder="Enter recipe name" #desc> </textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2">
                            <button mat-raised-button class="btn btn-success" type="button"
                                (click)="addRecipe({name:name.value, imgPath:url.value, desc:desc.value})">Save</button>
                        </div>
                        <div class="col-xs-3">
                            <button mat-raised-button class="btn btn-danger" type="button">Clear</button>
                        </div>

                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>



<div class="row">

    <br>
    <div class="col-xs-12" style="height: calc(30vw - 20px); overflow-y: auto;">
        <app-recipe-item *ngFor="let recipe of recipes | reverse; let i =index" [item]="recipe" [index]="i" (click)="selectRecipe(recipe)">
        </app-recipe-item>
    </div>
</div>
