/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

input.ng-invalid.ng-touched { /*highlight if ng invalid && ng touched are set*/

  border: 1px solid red;
}

.menu-spacer {
    flex: 1 1 auto;
  }

/*works only in chrome*/
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

/* th, td{
  background-color: white; 
  color: black;
} */