<div class="container">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-3" style="padding-top: 5%;">
            <mat-card>

                <div class="row">
                    <div class="col-xs-6">
                <button [ngClass]="isSignedIn() === true? 'btn btn-danger' : 'btn btn-success'" (click)="isSignedIn() === true? logout() : login()">{{isSignedIn() === true? 'Sign Out' : 'SignIn'}}</button>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                <button class="btn btn-primary" (click)='signUp()'>Sign Up</button>
                </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>